# Mars News

In [2]:
# Import BeautifulSoup
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time

In [4]:
#Importing Splinter, setting chromedriver path
from splinter import Browser
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [7]:
#URL
url_mars = "https://mars.nasa.gov/news/"
browser.visit(mars_url)

#HTML
html_mars = browser.html

#BeatuifulSoup
soup = BeautifulSoup(html_mars, 'html.parser')

In [8]:
#Retrieving our variables
news_title = soup.find('div', class_='content_title').find('a').text
news_p = soup.find('div', class_='article_teaser_body').text
 
print(news_title)
print(news_p)

Curiosity Tastes First Sample in 'Clay-Bearing Unit'
This new region on Mars might reveal more about the role of water on Mount Sharp.

# Mars Images

In [9]:
#URL
url_image = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_image)

#HTML
html_image = browser.html

#BeautifulSoup
soup = BeautifulSoup(html_image, 'html.parser')

In [11]:
#Use of style to retrieve the image URL; cleaning the URL
url_image  = soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]

#Main URL
main_url = 'https://www.jpl.nasa.gov'

#Combining two URLs
url_image = main_url + url_image

# Display full link to featured image
url_image

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA00063-1920x1200.jpg'

## Mars Weather

In [12]:
#URL
url_weather = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_weather)

#HTML
html_weather = browser.html

#SOUPSOUPSOUP
soup = BeautifulSoup(html_weather, 'html.parser')

In [13]:
#Grabbing the tweet
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

print(mars_weather)

InSight sol 135 (2019-04-13) low -96.5ºC (-141.8ºF) high -16.6ºC (2.2ºF)
winds from the SW at 4.2 m/s (9.4 mph) gusting to 11.3 m/s (25.3 mph)
pressure at 7.30 hPapic.twitter.com/bRsLlzn4M0

## Mars Facts

In [14]:
#URL
url_facts = 'http://space-facts.com/mars/'

In [19]:
#Grabbing data for our table to convert into DF
scrape_table = pd.read_html(url_facts)
scrape_table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [26]:
#Loading the table into a DF
mars_facts_df = scrape_table[0]

#Renaming columns, further cleaning
mars_facts_df.rename(columns={0: 'Fact', 1: 'Value'}, inplace=True)
mars_facts_df.set_index('Fact')
mars_facts_df

                   Fact                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [20]:
#Converting DF into HTML string
mars_html_table = mars_facts_df.to_html()
mars_html_table.replace('\n', '')
print(mars_html_table)

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Description</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

Visit the USGS Astrogeology site (https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars) 
to obtain high resolution images for each of Mar's hemispheres.

In [22]:
#URL
url_hemisphere_main = 'https://astrogeology.usgs.gov'
url_hemisphere_specific = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_hemisphere_specific)

#HTML
url_hemisphere_specific = browser.html

#SOUPME
soup = BeautifulSoup(url_hemisphere_specific, 'html.parser')

In [23]:
#Getting all items that contain the information we want 'item'
items = soup.find_all('div', class_='item')

#List to store
hemisphere_image_urls = []

#LOOP
for i in items: 
    #Store title
    title = i.find('h3').text
    
    #Store link that leads to full image website
    partial_img_url = i.find('a', class_='itemLink product-item')['href']
    
    #Visit link
    browser.visit(url_hemisphere_main + partial_img_url)
    
    #HTML Object of individual hemisphere information website 
    partial_img_html = browser.html
    
    #Parse HTML with BeautifulSoup for every individual hemisphere information website 
    soup = BeautifulSoup( partial_img_html, 'html.parser')
    
    # Retrieve full image source 
    img_url = url_hemisphere_main + soup.find('img', class_='wide-image')['src']
    
    # Append the retreived information into a list of dictionaries 
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})
    

# Display hemisphere_image_urls
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]